*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
} 
body , html{
    overflow-x: hidden;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;

}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image:url(./img2.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
} 
.header-content{
    margin-bottom: 150px;
    color: white;
    text-align: center;

}
.header-content h2{
    font-size: 4vmin;

}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 2px auto;
    border-radius: 5px;

}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: white;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;


}
/* Events */
section{
    width: 80%;
    margin: 10vh auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: darkblue;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    

}
.row .col img{
    width: 80%;
}
.img6{
    height: 230px;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .col{
    margin-top: 50px;


}
h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p{
    color: #7b7b80;
    padding: 10px 60px;
}
.events .ctn{
    margin-top: 30px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(./n6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.explore-content h1{
    font-size: 7vmin; 

}
.explore-content.line{
    margin-bottom: 50px;
}
.explore-content p{
    color:  rgb(221, 221, 221);
}
.explore-content .ctn{
    margin-top: 20px;
}

/* tours */

.content-col{
    width: 40%;
}
.image-col{
    width:60% ;
}
.img5{
    
    height: 200px;
}

.tours.image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    

}
.image-gallery img{
    max-width: 300px;
    margin: 10px;
}
.content-col h1{
    font-size: 8vmin;
    color: #484872;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
.footer{
    width: 100%;
     min-height: 100px;
    padding: 5px 100px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;


}




/* mobils device */
@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;

    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin: 30px auto;
    }
    /* events */
    .row{
        flex-direction: column;
    }
    .row col{
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    /* explore */
    .explore-content{
        width: 100%;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 90%;
    }
    .footer{
        padding: 10%;
    }
}
/* animation */
img{
    transform: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
.ctn:hover{
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
}
li:hover{
    color: #fc036b;
    cursor: pointer;
}
